* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template:
        'bio' 350px
        'projects' 150px
        'experience' 200px
    ;
}

.bio {
    grid-area: bio;
    background-color: rgb(222, 97, 59);
}

.projects {
    grid-area: projects;
    background-color: rgb(212, 227, 219);
}

.experience {
    grid-area: experience;
    background-color: rgb(91, 191, 234);
}

.main-header {
    background-color: rgb(62, 58, 58);
    color: rgb(207, 218, 218);
    padding: 20px;
    margin-top: 20px;
}

.name {
    float: left;
}

.projects-header {
    float: right;
    margin-right: 5px;
}

.experience-header {
    float: right;
    margin-right: 5px;
}

.top {
    float: right;
    margin-right: 5px;
}

.description-div {
    border-color: rgb(35, 34, 34);
    border-style: solid;
    margin-top: 20px;
    text-align: center;
    font-size: medium;
    width: 650px;
    margin: auto;
    margin-top: 70px;
    color: aliceblue;
    background-color: rgb(35, 34, 34);
}

.title {
    color: rgb(228, 224, 20);
}

.projects-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lottery-div {
    border-color: rgb(211, 214, 216);
    border: solid;
    width: 300px;
    padding: 5px;
    float: left;
    margin-left: 255px;
}

.lottery-title {
    color: rgb(222, 97, 59);
    ;
}

.lottery-project {
    text-align: center;
    background-color: rgb(222, 97, 59);
    color: white;
    width: 150px;
    margin-left: 70px;
}

.lottery-div2 {
    border-color: rgb(211, 214, 216);
    border: solid;
    width: 300px;
    float: left;
    padding: 5px;
    margin: auto;
    margin-left: 255px;
}

.lottery-div3 {
    border-color: rgb(211, 214, 216);
    border: solid;
    width: 300px;
    float: left;
    padding: 5px;
    margin: auto;
    margin-left: 255px;
}